<main class="container">
  <div class="row justify-content-center mt-5">
    <div class="col col-md-8 text-center">
      <h1>ERROR: Not Available in Demo Version</h1>
      <p class="lead mt-4">
        Sorry, This preview is not available in the demo version.<br /><br />
        <b>Thank you for looking through my project</b><br /><br />
        Please contact me at
        <a href="mailto:stevenjackson.sanguine@gmail.com"
          >stevenjackson.sanguine@gmail.com</a
        >
        for the most up to date preview or wait until further development has
        been completed.
        <br />
        <br />
        Kind Regards<br />
        Steven
      </p>
      <a class="btn btn-primary" routerLink="/">Return to Main Page</a>
    </div>
  </div>
</main>
