
<div class="card">
    <div class="card-body">
        <div class="" id="main">
           

            </div>
      <h1>The <span class="color_h1">Location</span> Object</h1>

      <hr>

      <h2>Location Object</h2>
      <p>The location object contains information about the current URL.</p>
      <p>The location object is part of the window object and is accessed through the window.location property.</p>
      <p><b>Note:</b> There is no public standard that applies to the location object, but all major browsers support it.</p>
      <hr>

      <h2>Location Object Properties</h2>
      <table class="table">
        <tbody><tr>
          <th style="width:20%">Property</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_hash.asp">hash</a></td>
          <td>Sets or returns the anchor part (#) of a URL</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_host.asp">host</a></td>
          <td>Sets or returns the hostname and port number of a URL</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_hostname.asp">hostname</a></td>
          <td>Sets or returns the hostname of a URL</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_href.asp">href</a></td>
          <td>Sets or returns the entire URL</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_origin.asp">origin</a></td>
          <td>Returns the protocol, hostname and port number of a URL</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_pathname.asp">pathname</a></td>
          <td>Sets or returns the path name of a URL</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_port.asp">port</a></td>
          <td>Sets or returns the port number of a URL</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_protocol.asp">protocol</a></td>
          <td>Sets or returns the protocol of a URL</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_loc_search.asp">search</a></td>
          <td>Sets or returns the querystring part of a URL</td>
        </tr>
        </tbody></table>

      <h2>Location Object Methods</h2>
      <table class="table">
        <tbody><tr>
          <th style="width:20%">Method</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/met_loc_assign.asp">assign()</a></td>
          <td>Loads a new document</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/met_loc_reload.asp">reload()</a></td>
          <td>Reloads the current document</td>
          </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/met_loc_replace.asp">replace()</a></td>
          <td>Replaces the current document with a new one</td>
          </tr>
      </tbody></table>
      <br>

      </div>
    </div>
  

