<div class="container">
  <div class="card-body">
    <section class="sj-block">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col col-md-8 text-center">
            <h1>Prototype Changelog</h1>
            <p class="lead">
              Main Prototype Project is private on Github.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Apr 8, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">CSS Components Filter Module Completed</li>
        <li class="list-group-item">Added Homepage Temp Images</li>
        <li class="list-group-item">CSS Components Buttons Module Working</li>
        <li class="list-group-item">
          CSS Component Buttons Module Routing Setup
        </li>
        <li class="list-group-item">CSS Components Module Main Pages added</li>
        <li class="list-group-item">CSS Components Button Module Content</li>
        <li class="list-group-item">CSS Component modules and pages created</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Apr 7, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">Homepage Update and Restructure.</li>
        <li class="list-group-item">jQuery Module functioning</li>
        <li class="list-group-item">
          jQuery Module added. Updated HTML and Files
        </li>
        <li class="list-group-item">
          Module Restructure. Moved Module Main pages
        </li>
        <li class="list-group-item">Fixed Content on Landing pages</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Apr 4, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          Image Ratio Fixes and Corrected Image Links
        </li>
        <li class="list-group-item">
          Reverted Animation and Minor Styling updates
        </li>
        <li class="list-group-item">Homepage Stying and Landing Page rework</li>
        <li class="list-group-item">Homepage Styling Updated</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Apr 3, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">SQL Module Added and Homepage Redesign</li>
        <li class="list-group-item">Components/User Profile Updated</li>
        <li class="list-group-item">Components Module Major Updates</li>
        <li class="list-group-item">Components/CTA Updated.</li>
        <li class="list-group-item">
          Components/Content updated. Css Snippets removed
        </li>
        <li class="list-group-item">Componets Content updated</li>
        <li class="list-group-item">Bootstrap and PHP Components Updated</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Apr 2, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">Separate Styling and Updated HTML</li>
        <li class="list-group-item">Separated SCSS Files</li>
        <li class="list-group-item">
          Other Refences Module Updated and new Git Content
        </li>
        <li class="list-group-item">Javascript Reference Module Updated</li>
        <li class="list-group-item">
          CSS Reference Styling & HTML updated. Onit Removed
        </li>
        <li class="list-group-item">
          CSS Advanced Styling and Code Major Updates
        </li>
        <li class="list-group-item">Updated Homepage Card Components</li>
        <li class="list-group-item">CSS Advanced Module Updates</li>
        <li class="list-group-item">CSS Advanced Pages Created</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Apr 1, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">CSS Routing and Styling updates.</li>
        <li class="list-group-item">CSS Reference Module Pages set up</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 31, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          Main Margin and background color updated
        </li>
        <li class="list-group-item">CSS Snippets styling updated</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 30, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">Bootstrap component Styling updated</li>
        <li class="list-group-item">Components Styling updated</li>
        <li class="list-group-item">Fixed missing SCSS variable</li>
        <li class="list-group-item">
          Created shared SCSS and updated components
        </li>
        <li class="list-group-item">
          Components, Javascript and Other modules added
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 29, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">CSS Snippets Module added</li>
        <li class="list-group-item">
          PHP Module Setup
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 28, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          Fixed Bootstrap-ref routing and updated Styling
        </li>
        <li class="list-group-item">Updated Strutuce and Layout</li>
        <li class="list-group-item">Bootstrap Reference Module Added</li>
        <li class="list-group-item">Added Bootstrap Module</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 26, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">Styling updates and Module loader added</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 25, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          Sidebar Styling and RoutingLinkActive Fix
        </li>
        <li class="list-group-item">
          Styling updates, Side Nav components. First deploy
        </li>
        <li class="list-group-item">
          Side Nav, Shared Module and Routing updated
        </li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 24, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">Nested Routes setup</li>
        <li class="list-group-item">
          Content Upload and General setup
        </li>
        <li class="list-group-item">General Setup</li>
        <li class="list-group-item">first commit</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 29, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">PHP Module Setup</li>
        <li class="list-group-item">
          Fixed Bootstrap-ref routing and updated Styling
        </li>
        <li class="list-group-item">Updated Strutuce and Layout</li>
        <li class="list-group-item">Bootstrap Reference Module Added</li>
        <li class="list-group-item">Added Bootstrap Module</li>
      </ul>
    </div>
  </div>
  <div class="card-content collapse show">
    <div class="card-body">
      <p>
        Commits on Mar 29, 2019
      </p>
      <ul class="list-group">
        <li class="list-group-item">PHP Module Setup</li>
        <li class="list-group-item">
          Fixed Bootstrap-ref routing and updated Styling
        </li>
        <li class="list-group-item">Updated Strutuce and Layout</li>
        <li class="list-group-item">Bootstrap Reference Module Added</li>
        <li class="list-group-item">Added Bootstrap Module</li>
      </ul>
    </div>
  </div>
</div>
