
<div class="card">
    <div class="card-body">
        <div class="" id="main">
          
      <h1>The <span class="color_h1">History</span> Object</h1>

      <hr>

      <h2>History Object</h2>
      <p>The history object contains the URLs visited by the user (within a browser window).</p>
      <p>The history object is part of the window object and is accessed through the window.history property.</p>
      <p><b>Note:</b> There is no public standard that applies to the history object, but all major browsers support it.</p>
      <hr>

      <h2>History Object Properties</h2>
      <table class="table">
        <tbody><tr>
          <th style="width:20%">Property</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/prop_his_length.asp">length</a></td>
          <td>Returns the number of URLs in the history list</td>
        </tr>
      </tbody></table>

      <h2>History Object Methods</h2>
      <table class="table">
        <tbody><tr>
          <th style="width:20%">Method</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/met_his_back.asp">back()</a></td>
          <td>Loads the previous URL in the history list</td>
          </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/met_his_forward.asp">forward()</a></td>
          <td>Loads the next URL in the history list</td>
          </tr>
        <tr>
          <td><a target="_blank" href="https://www.w3schools.com/jsref/met_his_go.asp">go()</a></td>
          <td>Loads a specific URL from the history list</td>
          </tr>
      </tbody></table>
      <br>

      </div>
    </div>
  </div>

