// @import "~src/app/scss/modules/shared/shared.component.card";

.container {
  padding: 2rem 0 0 0;
}

.container-wrapper a {
  padding: 0.5rem 3rem;
}

@media screen and (max-width: 600px) {
  .col-12 {
    text-align: center !important;
  }
}
