$white: #fff;

button {
  cursor: pointer;
  top: 2%;
  left: 2%;
  position: fixed;
  z-index: 9999;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

aside,
nav {
  position: fixed;
  margin-top: 2rem;
  height: 100vh;
  width: 25vh;
  z-index: 10;

  &.sidenav {
    ul {
      list-style-type: none;
      padding: 0;
      width: 100%;
      li {
        padding: 0.5rem 0;
        a {
          color: $white;
        }
      }
    }
  }
}
