$background-dark-grey: #28282808;
.loader-wrapper {
  font-size: 1.6rem;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $background-dark-grey; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  padding: 0;
}

.container-wrapper a {
  padding: 0.5rem 3rem;
}

.row {
  padding: 2rem 0;
  border-bottom: 1px solid #c3c3c3;
}

@media screen and (max-width: 600px) {
  .col-12 {
    text-align: center !important;
  }
}
