<app-header></app-header>

<section>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col col-md-12 text-center">
        <h1>Prototype Demo</h1>
        <p class="lead">
          Example of the Prototype concept
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-12 text-center">
        <a class="btn btn-primary" [routerLink]="['/demo']">View Demo</a>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
