.sidebar-container {
  height: calc(100vh - 2rem) !important;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.sidebar-container.mat-drawer-opened {
  z-index: 3;
}
// .sidebar-content {
//   padding: 1.5rem 0 0 2rem;
// }

button {
  margin: 1.5rem 0 0 1rem;
}

.sidebar-container ul li a {
  color: #fff;
}

.mat-drawer {
  background: #282828;
  opacity: 0.9;
  margin-top: 7vh;
  padding: 1rem 0;
  @media screen and (max-width: 600px) {
    width: 100vh;
  }
}
.mat-drawer-inner-container {
  width: 20vw !important;
}

li {
  width: 40vw;
}

// .mat-drawer-container {
//   position: relative;
//   top: 0;
//   height: calc(100vh - 2rem) !important;
//   padding: 1rem 0;

//   overflow-x: hidden;
//   overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
// }
