$white: #fff;

a {
  &.nav-link {
    color: $white;
    padding: 0;
  }
  &.btn-outline-primary {
    color: $white;
    border-color: $white;
    &:hover {
      background-color: $white;
      color: black;
    }
  }
}

i {
  font-size: 2.3rem;
}
