<div class="bg-dark py-2 fixed-top ">
  <div class="container bg-dark py-2">
    <nav class="navbar navbar-default navbar-fixed-top">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Prototype Demo</a>
        </li>
      </ul>

      <ul class="navbar-nav justify-content-end d-none d-lg-flex ml-md-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
