<main class="container">
  <div
    *ngIf="!isShowingRouteLoadIndicator"
    class="text-center justify-content-center "
  >
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS Extra</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          Fullscreen Video, Modal Boxes, Timeline, Scroll Indicator, Progress
          Bars, Skill Bar, Range Sliders, Tooltips, Popups, Collapsible,
          Calendar, Html Includes, TodoList, Loaders, Star Rating, User Rating,
          Overlay Effect, Contact Chips, Cards, Flip Card, Profile Card,
          ProductCard, Alerts, Callout, Notes, Labels, Circles, Coupon, List
          Group, Responsive Text, Cutout Text, Glowing Text, Fixed Footer,
          Sticky Element, Equal Height, Clearfix, Responsive Floats, Snackbar,
          Fullscreen Window, Scroll Drawing, Smooth Scroll, Gradient Bg Scroll,
          Sticky Header, Pricing Table, Parallax, Aspect Ratio, Toggle
          Like/Dislike, Toggle Hide/Show, Toggle Text, Toggle Class, Add Class,
          Remove Class, Active Class, Tree View, Remove Property, Offline
          Detection, Find Hidden Element, Redirect Webpage, ZoomHover, FlipBox,
          CenterVertically, TransitionOnHover, Arrows, Shapes, Download Link,
          Full Height Element, Browser Window, Custom Scrollbar, Device Look,
          Placeholder Color, Text Selection Color, Bullet Color, Vertical Line,
          Animate Icons, Countdown Timer, Typewriter, Coming Soon Page, Chat
          Messages, Popup Chat Window, Split Screen, Testimonials, Section
          Counter, Quotes Slideshow, Closable List Items, Typical Device
          Breakpoints, Draggable Html Element, JS Media Queries, Syntax
          Highlighter, JS Animations, Iframe Elements
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS Filters Module</a
          >
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS Buttons</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          Alert, Outline, Split, Animated, Fading, On Image, Social Media, Read
          More/Less, Loading, Download, Pill, Notification, Icon, Next/Prev, In
          Nav, Block, Text, Round, ScrollToTop
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS Buttons Module</a
          >
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS Forms</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          Login, Signup, Checkout, Contact, Sociallogin, Register, Form with
          icons, Newsletter, Stacked, Responsive, Popup, Inline, Clear input
          field, Copy text to clipboard, Animated search, Search button,
          Fullscreen search, Inputinnavbar, Login form in navbar, Custom
          checkbox radio, Custom select, Toggleswitch, Check checkbox, Detect
          capslock, Trigger button on enter, Password validation, Toggle
          password visibility, Multiplestep form, Autocomplete
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS Forms Module</a
          >
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS Images</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          Slideshows, Modal Images, Lightbox, ImageGrids, Tab Gallery,
          ImageOverlays, Image Effects, Image Text, FullPage Image, Form On
          Image, Hero Image, Blur Background Image, Change Bg On Scroll, Side By
          Side Images, Rounded Images, Avatar Images, Responsive Images, Center
          Images, Thumbnails, Meet The Team, Sticky Image, Flip A Image, Shake A
          Image, Portfolio Gallery, Portfolio Filtering, Image Zoom, Image
          Maginifier Glass, Image Comparison Slider
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS Images Module</a
          >
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS Menus</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          Icon Bar, Menu Icon, Accordion, Tabs, Vertical Tabs, Tab Headers,
          FullPage Tabs, Hover Tabs, Top Navigation, Responsive TopNav, Navbar
          Icons, Search Bar, Search Menu, Sidebars, Fullscreen Navigation,
          OffCanvas Menu, Horizontal ScrollMenu, Vertical Menu, Responsive
          Bottom Nav, Bottom Border Nav Links, Right Aligned Menu Links,
          Centered Menu Links, Equal Width Menu Links, Fixed Menu, Slide Down
          Bar On Scroll, Hide Navbar On Scroll, Shrink Navbar On Scroll, Sticky
          Navbar, Navbar On Image, Hover Dropdowns, Click Dropdowns, Dropdown In
          Topnav, Dropdown In Sidenav, Responsive Navbar Dropdown, Sub
          navigation Menu, Dropup, Mega Menu, Mobile Menu, Collapsed Side panel,
          Curtain Menu, Pagination, Breadcrumbs, Button Group, Vertical Button
          Group, Sticky Social Bar, Pill Navigation, Responsive Header, Side
          Navigation]
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS Menus Module</a
          >
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS Tables</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          Stripped Table, Responsive Table, Comparison Table
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS Tables Module</a
          >
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS Filters</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          List, Table, Elements, Dropdown, Sort List, Sort Table
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS Filters Module</a
          >
        </p>
      </div>
    </div>
  </div>

  <!-- I indicate that a router module is being loaded asynchronously. -->
  <div *ngIf="isShowingRouteLoadIndicator" class="router-load-indicator">
    <div class="row loader-wrapper text-center">
      <div class="col-md-12 m-5">
        <div class="loader"></div>
        <p class="mt-5">Loading Module</p>
      </div>
    </div>
  </div>
</main>
