<main class="container">
  <div
    *ngIf="!isShowingRouteLoadIndicator"
    class="text-center justify-content-center "
  >
    <!-- <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS 3 Snippets</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          Accordions, Timelines, Buttons
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/css-snippets"
            >Load CSS 3 Snippets Module</a
          >
        </p>
      </div>
    </div> -->
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS Components Module</h2>
        <p class="lead">
          <b>Contains:</b> <br />
          Buttons, Filters, Forms, Images, Menus, Other, Tables
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/css-components-landing-page"
            >Open CSS Components Module</a
          >
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS 3 Advanced</h2>
        <p class="lead">
          <b>Contains:</b> <br />Rounded Corners, Border Images, Backgrounds,
          Colors, Gradients, Shadows, Text Effects, WebFonts, Transforms,
          Transitions, Animations, Tooltips, Images, Object Fit, Buttons,
          Pagination, Multiple Columns, Resize Outline/Offset, Variables,
          BoxSizing, FlexBox, Media Queries, Grids
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS 3 Advanced Module</a
          >
        </p>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 m-auto m-md-0">
        <img
          alt="image"
          class="img-fluid"
          src="./assets/homepage-icons/css3.png"
        />
      </div>
      <div class="col-12 col-md-8 ml-auto pt-5 pt-md-0 text-left">
        <h2>CSS 3 Basics</h2>
        <p class="lead">
          <b>Contains:</b> <br />Animatable, Colors, Default Values, Entities,
          Functions, Reference, Selectors, Units, WebFonts, Px/Em Convertor
        </p>
        <p class="mt-4">
          <a class="btn btn-primary" routerLink="/error"
            >Load CSS 3 Basic Module</a
          >
        </p>
      </div>
      /
    </div>
  </div>

  <!-- I indicate that a router module is being loaded asynchronously. -->
  <div *ngIf="isShowingRouteLoadIndicator" class="router-load-indicator">
    <div class="row loader-wrapper text-center">
      <div class="col-md-12 m-5">
        <div class="loader"></div>
        <p class="mt-5">Loading Module</p>
      </div>
    </div>
  </div>
</main>
